@media only screen and (max-width: 1224px) { 
#troisCases
{
	flex-direction:column;
	align-items:center;
}
    
    .paquetDe4
{
    display:flex;
    flex-direction: column;
    max-width:50%;
    height:auto;
    margin-left: auto;
    margin-right:auto;

}
    
.paquetDe4 > img
    {
        margin-bottom:10%;
    }
    
.colonnePetit
    {
        display: flex;
        flex-direction: column;
    }

#blocExpert
{

	padding:35px 0px 0px 20px;

}

#blocIntermediaire
{

	padding:35px 0px 0px 20px;

}

#blocDebutant
{

	padding:35px 0px 0px 20px;

}

#presentation
{
	flex-direction:column;
	margin-left:40%;
	width:100%;

}


}
